@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
@* <h2>Reset your password.</h2>
<hr />
<div class="row">
<div class="col-md-4">
<form method="post">
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<input asp-for="Input.Code" type="hidden" />
<div class="form-floating mb-3">
<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
placeholder="name@example.com" />
<label asp-for="Input.Email" class="form-label"></label>
<span asp-validation-for="Input.Email" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
placeholder="Please enter your password." />
<label asp-for="Input.Password" class="form-label"></label>
<span asp-validation-for="Input.Password" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"
placeholder="Please confirm your password." />
<label asp-for="Input.ConfirmPassword" class="form-label"></label>
<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
</div>
<button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
</form>
</div>
</div> *@

<div class="wsus__dash_pass_change mt-2">
    <form action="/Identity/Pages/Account/ResetPassword" method="POST">
        <div class="row">
            <h4>Cập nhật mật khẩu</h4>
            <div class="col-xl-4 col-md-6">
                <div class="wsus__dash_pro_single">
                    <i class="fas fa-unlock-alt"></i>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="CurrentPass"/>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="wsus__dash_pro_single">
                    <i class="fas fa-unlock-alt"></i>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="New Pass"/>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="wsus__dash_pro_single">
                    <i class="fas fa-unlock-alt"></i>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Pass"/>
                </div>
            </div>
            <div class="col-xl-12">
                <button class="common_btn" type="submit">Cập nhật</button>
            </div>
        </div>
    </form>
</div>


