<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Ecommerce Dashboard &mdash; Stisla</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/modules/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/modules/fontawesome/css/all.min.css" asp-append-version="true">

    <!-- CSS Libraries -->
    @* <link rel="stylesheet" href="~/modules/jqvmap/dist/jqvmap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/modules/summernote/summernote-bs4.css" asp-append-version="true">
    <link rel="stylesheet" href="~/modules/owlcarousel2/dist/assets/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/modules/owlcarousel2/dist/assets/owl.theme.default.min.css"
        asp-append-version="true"> *@
    @RenderSection("CSS_Lib",false)

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/css/admin/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/admin/components.css" asp-append-version="true">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i
                                    class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                                    class="fas fa-search"></i></a></li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">

                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                            class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        Template update is available now!
                                        <div class="time text-primary">2 Min Ago</div>
                                    </div>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                            class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div>
                            <a href="features-profile.html" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a href="features-activities.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i> Activities
                            </a>
                            <a href="features-settings.html" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">Stisla</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="index.html">St</a>
                    </div>
                    <ul class="sidebar-menu">

                        <li><a class="nav-link" href="blank.html"><i class="far fa-square"></i> <span>Blank
                                    Page</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i>
                                <span>Modules</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-area="Admin" asp-controller="Customer" asp-action="Index">QLKH</a></li>
                                <li><a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">QLSP</a></li>
                                <li><a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">QLFB</a></li>
                                <li><a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                            </ul>
                        </li>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad
                        Nauval Azhar</a>
                </div>
                <div class="footer-right">

                </div>
            </footer>
        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="~/modules/jquery.min.js" asp-append-version="true"></script>
    <script src="~/modules/popper.js" asp-append-version="true"></script>
    <script src="~/modules/tooltip.js" asp-append-version="true"></script>
    <script src="~/modules/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/modules/nicescroll/jquery.nicescroll.min.js" asp-append-version="true"></script>
    <script src="~/modules/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/stisla.js" asp-append-version="true"></script>

    <!-- JS Libraies -->
    @* <script src="~/modules/jquery.sparkline.min.js" asp-append-version="true"></script>
    <script src="~/modules/chart.min.js" asp-append-version="true"></script>
    <script src="~/modules/owlcarousel2/dist/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/modules/summernote/summernote-bs4.js" asp-append-version="true"></script>
    <script src="~/modules/chocolat/dist/js/jquery.chocolat.min.js" asp-append-version="true"></script> *@
    @RenderSection("JS_Lib", false)

    <!-- Page Specific JS File -->
    @RenderSection("JS_Specific",false)
    @* <script src="~/js/page/index.js"></script> *@

    <!-- Template JS File -->
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
</body>

</html>