@page
@model IndexModel
@{
  Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
  ViewData["Title"] = "Profile";
  ViewData["ActivePage"] = ManageNavPages.Index;
}
<div class="row">
        <div class="col-xl-9 col-xxl-10 col-lg-9 ms-auto">
          <div class="dashboard_content mt-2 mt-md-0">
            <h3><i class="far fa-user"></i>Thông tin cá nhân</h3>
            <div class="wsus__dashboard_profile">
              <div class="wsus__dash_pro_area">
                <h4>Thông tin</h4>
                <form action="/Identity/Profile/Update" method="POST" enctype="multipart/form-data">
                        <div class="col-xl-6 col-md-6">
                          <div class="wsus__dash_pro_single">
                            <i class="fas fa-user-tie"></i>
                            <input type="text" placeholder="Name" name="name" asp-for="Input.user.Name">
                        </div>
                        <div class="col-xl-6 col-md-6">
                          <div class="wsus__dash_pro_single">
                            <i class="fas fa-user-tie"></i>
                            <input type="text" placeholder="Address" name="address"  asp-for="Input.user.Address">
                          </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                          <div class="wsus__dash_pro_single">
                            <i class="fa-solid fa-phone-flip"></i>
                            <input type="text" placeholder="Phone" name="phone"  asp-for="Input.user.Phone" required>
                          </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                          <div class="wsus__dash_pro_single">
                            <i class="fal fa-envelope-open"></i>
                            <input type="email" placeholder="Email" readonly  value="@Input.user.Email" readonly>
                          </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="wsus__dash_pro_single">
                              <i class="fal fa-envelope-open"></i>
                              <input type="number" minlength="12" maxlength="12" placeholder="PostCode" name="postcode"  asp-for="Input.user.PostCode" required>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="wsus__dash_pro_single">
                              <i class="fal fa-envelope-open"></i>
                              <input asp-for="Input.user.Birthday" type="date" value="Input.user.Birthday.ToString("yyyy-MM-dd")" required>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <button class="common_btn mb-4 mt-2" type="submit">Cập nhật</button>
                        </div>
                </form>

                    <div class="wsus__dash_pass_change mt-2">
                      <form action="{{ route('customer.profile.update.password') }}" method="POST">
                          <div class="row">
                            <h4>Cập nhật mật khẩu</h4>
                            <div class="col-xl-4 col-md-6">
                              <div class="wsus__dash_pro_single">
                                <i class="fas fa-unlock-alt"></i>
                                <input type="password" placeholder="Current Pass" name="current_password">
                              </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="wsus__dash_pro_single">
                                <i class="fas fa-unlock-alt"></i>
                                <input type="password" placeholder="New Pass" name="password">
                              </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="wsus__dash_pro_single">
                                <i class="fas fa-unlock-alt"></i>
                                <input type="password" placeholder="Confirm Pass" name="password_confirmation">
                              </div>
                            </div>
                            <div class="col-xl-12">
                              <button class="common_btn" type="submit">Cập nhật</button>
                            </div>
                          </div>
                      </form>
                    </div>
                    <partial name="ResetPassword"/>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

@section Scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="~/js/customer/province.js"></script>
  <partial name="_ValidationScriptsPartial" />
}
