@page
@model IndexModel
@{
  Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
  ViewData["Title"] = "Profile";
  ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="row">
  <div class="col-xl-9 col-xxl-10 col-lg-9 ms-auto">
    <div class="dashboard_content">
      <div class="wsus__dashboard">
        <div class="row">
          <div class="col-xl-2 col-6 col-md-4">
            <a class="wsus__dashboard_item red" href="dsahboard_order.html">
              <i class="far fa-address-book"></i>
              <p>order</p>
            </a>
          </div>
          <div class="col-xl-2 col-6 col-md-4">
            <a class="wsus__dashboard_item green" href="dsahboard_download.html">
              <i class="fal fa-cloud-download"></i>
              <p>download</p>
            </a>
          </div>
          <div class="col-xl-2 col-6 col-md-4">
            <a class="wsus__dashboard_item sky" href="dsahboard_review.html">
              <i class="fas fa-star"></i>
              <p>review</p>
            </a>
          </div>
          <div class="col-xl-2 col-6 col-md-4">
            <a class="wsus__dashboard_item blue" href="dsahboard_wishlist.html">
              <i class="far fa-heart"></i>
              <p>wishlist</p>
            </a>
          </div>
          <div class="col-xl-2 col-6 col-md-4">
            <a class="wsus__dashboard_item orange" href="dsahboard_profile.html">
              <i class="fas fa-user-shield"></i>
              <p>profile</p>
            </a>
          </div>
          <div class="col-xl-2 col-6 col-md-4">
            <a class="wsus__dashboard_item purple" href="dsahboard_address.html">
              <i class="fal fa-map-marker-alt"></i>
              <p>address</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            @* <div class="wsus__message">
            <h4>message</h4>
            <div class="wsus__message_single">
            <div class="wsus__message_img">
            <img src="images/ts-1.jpg" alt="img">
            </div>
            <div class="wsus__message_text">
            <h6>Mary Smith</h6>
            <span>22 Minutes ago</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam quae natus sapiente est ex
            quaerat, cupiditate consectetur explicabo, libero, ipsa ab odit placeat quam ut voluptatem
            aliquid voluptatibus voluptates
            cumque. In vel veritatis veniam et nemo iusto ad ipsum adipisci cupiditate nesciunt impedit,
            corrupti illum.</p>
            </div>
            <div class="wsus__message_icon">
            <span><i class="far fa-trash-alt"></i></span>
            </div>
            </div>
            <div class="wsus__message_single">
            <div class="wsus__message_img">
            <img src="images/ts-2.jpg" alt="img">
            </div>
            <div class="wsus__message_text">
            <h6>susan singh</h6>
            <span>10 Minutes ago</span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt nemo error ratione odit
            recusandae nihil voluptas voluptatum? Repellat odio cum molestias quasi quaerat labore
            molestiae iste officia? Facilis, doloremque repellat.</p>
            </div>
            <div class="wsus__message_icon">
            <span><i class="far fa-trash-alt"></i></span>
            </div>
            </div>
            <div class="wsus__message_single">
            <div class="wsus__message_img">
            <img src="images/ts-3.jpg" alt="img">
            </div>
            <div class="wsus__message_text">
            <h6>Mary Smith</h6>
            <span>40 Minutes ago</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem asperiores, voluptatibus
            tenetur, dolorum inventore architecto nisi commodi eaque ad cumque.</p>
            </div>
            <div class="wsus__message_icon">
            <span><i class="far fa-trash-alt"></i></span>
            </div>
            </div>
            </div> *@
            <div class="wsus__message">
              <h4>personal information</h4>
              <form method="post" asp-area="Identity" asp-page="/Account/Manage/Index">
                <div class="row">
                  <div class="col-xl-6">
                    <div class="wsus__single_inout">
                      <label>Name</label>
                      <input asp-for="Input.user.Name" type="text" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="wsus__single_inout">
                      <label>Postcode</label>
                      <input asp-for="Input.user.PostCode" type="text" placeholder="Postcode">
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="wsus__single_inout">
                      <label>email</label>
                      <input asp-for="Input.user.Email" type="email" readonly placeholder="Email">
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="wsus__single_inout">
                      <label>phone</label>
                      <input asp-for="Input.PhoneNumber" type="number" placeholder="Phone" id="phone">
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="wsus__single_inout">
                      <label>Address</label>
                      <select name="" id="province">
                      </select>
                      <select name="" id="district">
                        <option value="">chọn quận</option>
                      </select>
                      <select name="" id="ward">
                        <option value="">chọn phường</option>
                      </select>
                      <input asp-for="Input.user.Address" type="text" id="address" placeholder="Chọn Địa chỉ" readonly>
                    </div>
                  </div>
                  <div class="col-xl-12">
                    @* <div class="wsus__single_inout">
                      <label>about yourself</label>
                      <textarea cols="3" rows="3" placeholder="Write About Yourself"></textarea>
                    </div>
                  </div> *@
                </div>
                <button class="common_btn" type="submit">update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="~/js/customer/province.js"></script>
  <partial name="_ValidationScriptsPartial" />
}
